*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:#050505;

    font-family:
    Arial,
    Helvetica,
    sans-serif;

}


/* Resplandor vertical */

.glow{

    position:absolute;

    width:420px;
    height:100%;

    background:

    linear-gradient(
        180deg,
        rgba(0,0,0,0) 0%,
        rgba(180,145,25,0.35) 15%,
        rgba(255,215,80,0.95) 50%,
        rgba(180,145,25,0.35) 85%,
        rgba(0,0,0,0) 100%
    );


    filter:blur(35px);

    animation:brillo 4s infinite alternate;

}


/* Logo */

.logo{

    position:relative;

    z-index:2;

    animation:entrada 1.5s ease;

}



h1{


    position:relative;


    font-size:
    clamp(60px,12vw,150px);


    font-weight:900;

    letter-spacing:-7px;


    background:

    linear-gradient(
        90deg,
        #ffffff,
        #ffe98a,
        #d5ad28
    );


    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;


    text-shadow:

    0px 10px 40px rgba(255,215,80,.35);

}



/* Visa */

small{

    position:absolute;

    right:-5px;

    top:-30px;


    font-size:35px;

    letter-spacing:4px;

    font-weight:700;


    color:white;

    -webkit-text-fill-color:white;

}



/* Animaciones */

@keyframes entrada{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}



@keyframes brillo{


from{

opacity:.7;

transform:scaleX(.9);

}


to{

opacity:1;

transform:scaleX(1.1);

}


}



/* Celular */

@media(max-width:700px){


.glow{

width:250px;

}


h1{

font-size:55px;

letter-spacing:-3px;

}


small{

font-size:20px;

top:-18px;

}



}
