*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:#050505;

    font-family:Arial, Helvetica, sans-serif;

}


/* Halo amarillo circular */

.glow{

    position:absolute;

    width:850px;
    height:850px;

    border-radius:50%;


    background:

    radial-gradient(
        circle,
        rgba(255,220,90,0.85) 0%,
        rgba(220,175,45,0.45) 25%,
        rgba(120,90,20,0.20) 50%,
        rgba(0,0,0,0) 75%
    );


    filter:blur(35px);


    animation:brillo 5s infinite alternate;

}



/* Logo */

.logo{

    position:relative;

    z-index:2;

    animation:entrada 1.5s ease;

}



h1{

    position:relative;


    font-size:
    clamp(60px,12vw,150px);


    font-weight:900;


    letter-spacing:-7px;



    background:

    linear-gradient(
        90deg,
        #ffffff,
        #fff4b0,
        #e0bd42
    );


    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;



    text-shadow:

    0 0 15px rgba(255,255,255,.8),
    0 0 35px rgba(255,255,255,.45),
    0 10px 40px rgba(255,215,80,.4);


}



/* Visa */

small{

    position:absolute;


    right:-5px;

    top:-30px;



    font-size:35px;


    letter-spacing:4px;


    font-weight:700;



    color:white;

    -webkit-text-fill-color:white;



    text-shadow:

    0 0 15px white;


}



/* Entrada */

@keyframes entrada{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}



/* movimiento suave */

@keyframes brillo{


from{

transform:scale(.95);

opacity:.8;

}


to{

transform:scale(1.08);

opacity:1;

}


}




@media(max-width:700px){


.glow{

width:500px;

height:500px;

}



h1{

font-size:55px;

letter-spacing:-3px;

}



small{

font-size:20px;

top:-18px;

}


}
