*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:#050505;

    font-family:Arial, Helvetica, sans-serif;

}


/* Resplandor circular grande */

.glow{

    position:absolute;

    width:1200px;
    height:1200px;

    border-radius:50%;


    background:

    radial-gradient(
        circle,
        rgba(255,225,100,0.75) 0%,
        rgba(255,210,70,0.45) 25%,
        rgba(150,115,30,0.20) 50%,
        rgba(0,0,0,0) 75%
    );


    filter:blur(45px);


    z-index:0;

    animation:halo 5s ease-in-out infinite alternate;

}



/* Logo */

.logo{

    position:relative;

    z-index:2;

    animation:entrada 1.5s ease;

}



h1{

    position:relative;


    font-size:
    clamp(60px,12vw,150px);


    font-weight:900;


    letter-spacing:-7px;



    background:

    linear-gradient(
        90deg,
        #ffffff 0%,
        #fff7b5 45%,
        #e2bd35 100%
    );


    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;



    /* borde negro + brillo blanco */

    -webkit-text-stroke:

    2px rgba(0,0,0,0.7);


    text-shadow:

    0 0 12px rgba(255,255,255,.9),
    0 0 35px rgba(255,255,255,.55),
    0 15px 50px rgba(255,210,70,.35);


}




/* Visa */

small{

    position:absolute;

    right:-5px;

    top:-35px;


    font-size:35px;


    letter-spacing:4px;


    font-weight:700;


    color:white;

    -webkit-text-fill-color:white;


    -webkit-text-stroke:0;


    text-shadow:

    0 0 15px white;

}



/* Animaciones */

@keyframes entrada{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}

}



@keyframes halo{


from{

transform:scale(.95);

opacity:.8;

}


to{

transform:scale(1.08);

opacity:1;

}


}



/* Movil */

@media(max-width:700px){


.glow{

width:700px;

height:700px;

}


h1{

font-size:55px;

letter-spacing:-3px;

-webkit-text-stroke:1px rgba(0,0,0,.7);

}



small{

font-size:20px;

top:-20px;

}


}
